@charset "UTF-8";

@font-face {
    font-family: 'RedHat';
    src: url('fonts/RedHatDisplay-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'RedHat';
}

main {
    height: 100vh;
    width: 100vw;
    background-color: hsl(225, 100%, 94%);
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    min-width: 375px;
    background-size: contain;
}

.caixa {
    background-color: hsl(0, 0%, 100%);
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    border-radius: 15px;
    box-shadow: 12px 20px 20px hsl(225, 100%, 90%);

}

.img {
    max-height: 220px;
    max-width: 450px;
}

img.sla {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.td {
    padding: 30px;
    max-width: 450px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

p {
    color: hsl(224, 23%, 55%);
    text-align: center;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 16px;
}

.preco {
    background-color: hsl(225, 100%, 98%);
    position: relative;
    padding: 15px;
    margin-bottom: 30px;
    font-size: 18px;
}

.um {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    position: absolute;
    top: 15px;
    left: 93px;
}

.dois {
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    position: absolute;
    bottom: 15px;
    left: 93px;
}

.tres {
    position: absolute;
    right: 15px;
    top: 28px;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    font-weight: 900;
}

.tres:hover {
    text-decoration: none;
    color: hsla(245, 75%, 52%, 0.553);
}

button {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: hsl(245, 75%, 52%);
    color: hsl(0, 0%, 100%);
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 30px;
    box-shadow: 0px 20px 20px 7px hsl(225, 100%, 94%);
}

button:hover {
    background-color: hsla(245, 75%, 52%, 0.553);
}

.span {
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    text-align: center;
}

.span:hover {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

@media only screen and (max-width: 449px) {
    main {
        background-image: url('images/pattern-background-mobile.svg');
    }

    .caixa, .img, .sla {
        width: 345px;
    }

    p {
        width: 287px;
    }

    .um, .dois {
        left: 75px;
    }
}